
 <div class="jumbotron text-center">
    <h1 class="display-3">Welcome to Bill Payment System!</h1>
    <p class="lead"><strong>Pay Bills Now</strong> </p>
    <hr>


<p>The Bill payment system is a Reserve Bank of our Country conceptualised system driven by National Payments Corporation of Country. It is a one-stop ecosystem for payment of all bills providing an interoperable and accessible “Anytime Anywhere” bill payment service to all customers across India with certainty, reliability and safety of transactions.
</p>
       <div class="card-deck ">
       <div class="row">
       <div class="card" style="width: 20rem;height:fit-content">
        <img src="https://images.unsplash.com/photo-1556742212-5b321f3c261b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">DTH Bills</h5>
          <ul class="list-group list-group-flush">
                <li class="list-group-item">Any Type Of DTH Payments.</li>
            
             <li class="list-group-item">Pay securely in this Site</li>
            
           </ul>
        </div>
     
      
      </div>

         <div class="card" style="width: 20rem;height:fit-content">
        <img src="https://images.unsplash.com/photo-1556740720-776b84291f8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Electricity Bills</h5>

          <ul class="list-group list-group-flush">
              
                <li class="list-group-item">Any Type Of Electricity Payments.</li>
                <li class="list-group-item">Pay securely in this Site</li>
               
              </ul>
        </div>
      
      
      </div>
      <div class="card" style="width: 20rem;height:fit-content">
        <img src="https://images.unsplash.com/photo-1563013544-824ae1b704d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Telephone Bills</h5>
         
          <ul class="list-group list-group-flush">
          
                <li class="list-group-item">Any Type Of phone Payments.</li>
          <li class="list-group-item">Pay securely in this Site</li>
         
        </ul>
        </div>
      
      
      </div>
      </div>
    </div>
        <hr>
 


<p>
   <strong> Different Payment Channels</strong> 
    BillPay transaction can be initiated through multiple payment channels like Internet, Internet Banking, Mobile, Mobile-Banking, POS (Point of Sale terminal), Mobile Wallets, Kiosk, ATM, Bank Branch, Agents and Business Correspondents, by just looking at the Bharat BillPay logo
</p> <br>
<p>
        <strong> Different Payment Modes</strong> 
    BillPay facilitates myriad payment modes enabling bill payments. The payment modes options facilitated under the ecosystem are Cards (Credit, Debit and Prepaid), NEFT Internet Banking, UPI, Wallets, Aadhar based Payments and Cash.
</p><hr>
    <p>
        Having trouble understanding this Payment System? <strong>Check Out our Help Desk Page</strong>
    </p>
   
  </div>



   
<!-- <div class="card mt-4 ml-2 mr-2">
    <img class="card-img-top"
      src="https://images.unsplash.com/photo-1556741574-0ddb65d14311?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
      alt="sandwich image">
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <h4 class="card-title">DTH Bills</h4>
        </div>
        <div class="ml-auto">
          <h4 class="text-color par ">Any Type of DTH Payment</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-8"> 
          <p class="card-text">
           
              <span class="badge badge-pill badge-success">Active</span>
            <span class="badge badge-pill badge-danger" >Inactive</span>
          </p></div>&nbsp;dsfksdfh
        </div>
        <div class="ml-auto">
          <i class="material-icons md-30 truck" >local_shipping</i> <span
            class="badge badge-info" >FREE</span>
     
  
        </div>
  
  
      </div>

        <div  class="alert alert-success alert-dismissible fade show alert-msg" role="alert">
          Item added to cart successfully.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
   
  
   <div class="row mt-4 launch-size" >
                                  <div class="ml-auto">
                                      <a >
                                          <button type="button" class="btn orange" >
                                              <i class="material-icons md-10">add_shopping_cart</i> Add to
                                              Cart
                                          </button>
                                      </a>
  
                                  </div>
      </div>
  
  
      <div class="row">
        <div class="col-5">
          <i class="material-icons other_icon">access_time</i> Launch Date
          <div>date of launch</div>
        </div>
      <div class="ml-auto">
        <button [routerLink]="['/edit-food-item',fooditem1.id]" type="button" class="btn btn-warning">
          <i class="material-icons other_icon"> edit </i> Edit
        </button>
      </div>
    </div>
   
     
    </div> -->
    
  
  
 
  
  

  
      
          
